.title-container {
  font-size: 35px;
  color: #2bd9a8;
  align-self: flex-start;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.cards {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.second-cards {
  padding: 20px 0px;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.body-projects {
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#lines {
  width: 100%;
}
